<% provide(:title, 'Home')  %>

<div class="title">
	<h2>
		<%= Comic.last.title %>
	</h2>
</div>

<div class="comic">
	<%= link_to image_tag(Comic.last.image_url), page_url(Comic.last.number-1) %>
</div>

<div class="comicnav">
	<ul>
		<li><%= link_to '', page_url(Comic.first.number),  class: 'icon-to-start' %></li>
		<li><%= link_to '', page_url(Comic.last.number-1), class: 'icon-triangle-left' %></li>
		<li><%= link_to '', page_url(random), class: 'icon-shuffle' %></li>
	</ul>
</div>