<% provide(:title, 'Home')  %>

<div class="title">
	<h2>
		<%= Comic.last.title %>
	</h2>
</div>

<div class="comic">
	<%= link_to image_tag(Comic.last.image_url), page_url(Comic.last.number-1) %>
</div>


<div class="comicnav">
	<ul>
			<li><%= link_to '', feed_path, class: 'icon-rss icon', id: 'feed-icon', title: "Subscribe!" %></li>
			<li><%= link_to '', page_url(Comic.first.number),  method: 'get', class: 'icon-fast-backward icon', title: "Go to first" %></li>
			<li><%= link_to '', page_url(Comic.last.number-1),     method: 'get', class: 'icon-left-dir icon', id: "arrow", title: "Previous comic" %></li>
			<li><%= link_to '', page_url(random), method: 'get', class: 'icon-shuffle icon', title: "Random comic" %></li>
			<li><%= link_to '', '#', class: 'icon icon-right-dir hidden' %></li>
			<li><%= link_to '', '#', class: 'icon icon-fast-forward hidden' %></li>
			<li>
				<div class="social icon icon-share">
					<ul>
	          <a class="smedia icon icon-facebook-circled" 
	          	 target="_blank" 
	          	 href="http://www.facebook.com/sharer.php?u=http://marchofthemeanies.com/<%= Comic.last.number %>&p[summary]=My new favorite web comic." 
	          	 title="Share this comic on Facebook" =>
	          </a>
	          <a class="smedia icon icon-twitter-circled" 
		           target="_blank" 
		           href="http://twitter.com/share?text=My%20new%20favorite%20web%20comic:&url=http://marchofthemeanies.com/<%= Comic.last.number %>" 
		           title="Share this comic on Twitter">
	        	</a>
	          <a class="smedia icon icon-gplus-circled" 
	          	 target="_blank"
	             href="https://plus.google.com/share?url=http://marchofthemeanies.com/<%= Comic.last.number %>"
	             title="Share this comic on Google Plus">
	          </a>
	          <a class="smedia icon icon-tumblr-circled"
	         		 target="_blank"  
	         		 href="http://www.tumblr.com/share?v=3&u=marchofthemeanies.com/<%= Comic.last.number %>&t=%20My%20new%20favorite%20web%20comic"
	         		 title="Share this comic on Tumblr">
	          </a>
	          <a class="smedia icon icon-mail" 
	          	 href="mailto:email@echoecho.com?subject=My%20new%20favorite%20web%20comic.&body=Check it out!    http://marchofthemeanies.com/<%= Comic.last.number %>"
	          	 title="Email this comic to a friend">
					  </a>
					</ul>
				</div>	
			</li>
	</ul>
</div>

<div class="mobile-comicnav">
	<ul class="top-row">
		<li><%= link_to '', page_url(Comic.last.number-1),     method: 'get', class: 'icon-left-dir icon arrow', title: "Previous comic" %></li>
		<li><%= link_to '', page_url(Comic.last.number+1), 	   method: 'get', class: 'icon-right-dir hidden icon'  %></li>
	</ul>
	<ul class="bottom-row">
			<li><%= link_to '', page_url(Comic.first.number),  method: 'get', class: 'icon-fast-backward icon', title: "Go to first" %></li>
			<li><%= link_to '', page_url(random), method: 'get', class: 'icon-shuffle icon', title: "Random comic" %></li>
			<li><%= link_to '', page_url(Comic.last.number),	 method: 'get', class: 'icon-fast-forward hidden icon' %></li>
	</ul>

</div>

<div class="social-slide">
	<div class="slide-handle">
		<div class="slide-handle-inner">
			
		</div>
	</div>
	<div class="slide-body">
    <a class="smedia icon icon-facebook-circled" 
    	 target="_blank" 
    	 href="http://www.facebook.com/sharer.php?u=http://marchofthemeanies.com/<%= Comic.last.number %>&p[summary]=My new favorite web comic." 
    	 title="Share this comic on Facebook" =>
    </a>
    <a class="smedia icon icon-twitter-circled" 
       target="_blank" 
       href="http://twitter.com/share?text=My%20new%20favorite%20web%20comic:&url=http://marchofthemeanies.com/<%= Comic.last.number %>" 
       title="Share this comic on Twitter">
  	</a>
    <a class="smedia icon icon-gplus-circled" 
    	 target="_blank"
       href="https://plus.google.com/share?url=http://marchofthemeanies.com/<%= Comic.last.number %>"
       title="Share this comic on Google Plus">
    </a>
    <a class="smedia icon icon-tumblr-circled"
   		 target="_blank"  
   		 href="http://www.tumblr.com/share?v=3&u=marchofthemeanies.com/<%= Comic.last.number %>&t=%20My%20new%20favorite%20web%20comic"
   		 title="Share this comic on Tumblr">
    </a>
    <a class="smedia icon icon-mail" 
    	 href="mailto:email@echoecho.com?subject=My%20new%20favorite%20web%20comic.&body=Check it out!    http://marchofthemeanies.com/<%= Comic.last.number %>"
    	 title="Email this comic to a friend">
	  </a>
	</div>
</div>
