<%= provide(:title, 'Sign in') %>

<!--*********************************************************************** -->
<!-- SIGN IN FORM ********************************************************* -->
<!--*********************************************************************** -->

<div class="form-container">
		<%= form_for(:session, url: sessions_path) do |f| %>
		<div class="form">
			<div class="form-header">
        <%= yield(:title) %>
      </div>

			<div class="form-content">
				<%= f.text_field :email, class: "input email", placeholder: "Email address" %>
				<%= f.password_field :password, class: "input password", placeholder: "Password" %>
			</div>

			<div class="form-footer">
					<%= f.submit "Submit", class: "button" %>
			</div>
		</div>
		<% end %>
</div>