<!--*********************************************************************** -->
<!-- FORM ERRORS ********************************************************** -->
<!--*********************************************************************** -->

  <% if @comic.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>
      <ul>
        <% @comic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>





<!--*********************************************************************** -->
<!-- COMIC FORM *********************************************************** -->
<!--*********************************************************************** -->

<div class="form-container">

  <%= form_for @comic, html: { multipart: true } do |f| %>
    <div class="form">

      <div class="form-header">
        <%= yield(:title) %>
      </div>

      <div class="form-content">
        <div class="comic-thumb">
          <%= link_to (image_tag yield(:comic_thumb)), @comic %>
        </div>

        <div class="upload-button">
          <div id="file-input"  onclick="getFile()">
            <p>Choose image file</p>
          </div>
          <div id="file-input-tag">
            <input id="comic_image" type="file" name="comic[image]" value="upload"/>
          </div>
        </div>  

        <%= f.text_field :title, class: "input title-input", placeholder: "Title" %>
        <div class="input visibility"> 
          <%= f.label :visible, "Visible?" %>
          <%= f.check_box :visible, class: "checkbox" %>
        </div>
      </div>

      <div class="form-footer">
        <%= f.submit "Submit", class: "button" %>
      </div>
    </div>
  <% end %>
</div>
         