<% provide(:title, @comic.title) %>

<!--*********************************************************************** -->
<!--1-1 COMIC TITLE - Meant to be invisible ******************************* -->
<!--*********************************************************************** -->

<h2 class="title"><%= @comic.title %></h2>





<!--*********************************************************************** -->
<!--1-2 THE COMIC ********************************************************* -->
<!--*********************************************************************** -->

<figure class="comic">
	<div id="swipey"></div>
	<% if @comic.number == 1 %>
		<%= link_to image_tag(@comic.image_url), '#' %> 
	<% else %>
		<%= link_to image_tag(@comic.image_url), page_url(@comic.number-1), title: @comic.title %> 
	<% end %>
</figure><!-- figure.comic -->







<!--*********************************************************************** -->
<!--1-3 COMIC NAVIGATION - DESKTOP **************************************** -->
<!--*********************************************************************** -->

<% icon_size = "40" %>
<% icon_color = "black" %>

<div class="desktop-comicnav">

 	<% if @comic != Comic.first %>
		<div class="left-side">
		  <h3 class="previous-preview"><%= Comic.find_by_number(@comic.number-1).title %></h3>
			<div class="fr">
				<div class="fr-button">
					<%= link_to '', page_url(Comic.first.number),
							class:  'livicon shadowed',
							data:   { name: "angle-double-left", animate: "true", eventtype: 'hover', size: "#{icon_size}", color: icon_color, shadow: "true" },
							title:  "Go to first",
							method: 'get' %>
				</div><!-- .fr-button -->
			</div><!-- .fr -->
		</div><!-- .left-side -->

		<div class="previous-button">
			<%= link_to '', page_url(@comic.number-1),
			 	  class:  'livicon shadowed',
			 	  data:   { name: "angle-left", animate: "true", eventtype: 'hover', size: "#{icon_size}", color: icon_color },
			 	  title:  "Next comic",
			 	  method: 'get' %>
		</div><!-- .previous-button -->

	<% else %>
		<div class="left-side hidden "><h3 class="previous-preview "><%= Comic.last.title %></h3></div>
	<% end %>


	<div class="shuffle-button">
		<%= link_to '', page_url(random),
				class:  'livicon shadowed',
				data:   { name: "shuffle", animate: "true", eventtype: "hover", size: "#{icon_size}", color: icon_color },
				title:  "Random comic",
				method: 'get' %>
	</div>


	<% if @comic != Comic.last %>
		<div class="next-button">
			<%= link_to '', page_url(@comic.number+1),
			 	  class:  'livicon shadowed',
			 	  data:   { name: "angle-right", animate: "true", eventtype: 'hover', size: "#{icon_size}", color: icon_color },
			 	  title:  "Next comic",
			 	  method: 'get' %>
		</div>

		<div class="right-side">
			<h3 class="next-preview"><%= Comic.find_by_number(@comic.number+1).title %></h3>
			<div class="ff">
				<div class="ff-button">
				<%= link_to '', page_url(Comic.last.number),
					  class:  'livicon shadowed',
					  data:   { name: "angle-double-right", animate: "true", eventtype: 'hover', size: "#{icon_size}", color: icon_color },
					  title:  "Go to last",
					  method: 'get' %>
				</div><!-- .ff-button -->
			</div><!-- .ff -->
		</div><!-- .right-side -->

	<% else %>
		<div class="right-side hidden "><div class="spacer"></div></div>
	<% end %>
</div><!-- .desktop-comicnav -->





<!--*********************************************************************** -->
<!--1-4 COMIC NAVIGATION - MOBILE - PORTRAIT ****************************** -->
<!--*********************************************************************** -->

<% mobile_icon_size = "52" %>

<div class="portrait-comicnav">
	<div class="top-row">
		<% if @comic == Comic.first %>
			<%= link_to '', page_url(random), 						
					class:  'livicon hidden', 
					data:   { name: "shuffle", 		 size: "#{mobile_icon_size}" } %>
		<% else %>
			<%= link_to '', page_url(@previous_comic),
			 		class:  'livicon shadowed',        
					data:   { name: "angle-left",  size: "#{mobile_icon_size}", animate: "true", eventtype: 'click' },
					title:  "Previous comic",
					method: 'get' %>
		<% end %>

		<% if @comic == Comic.last %>
			<%= link_to '', page_url(random),
					class:  'livicon hidden',
			  	data:   { name: "shuffle", 		 size: "#{mobile_icon_size}" } %>
		<% else %>	
			<%= link_to '', page_url(@next_comic),
			 	  class:  'livicon shadowed',
			  	data:   { name: "angle-right", size: "#{mobile_icon_size}", animate: "true", eventtype: 'click' },
		  		title:  "Next comic",
		  		method: 'get' %>
		<% end %>
	</div><!-- .top-row -->

	<div class="middle-row">
		<% if @comic == Comic.first %>
			<%= link_to '', page_url(random),
					class:  'livicon hidden',
				  data:   { name: "shuffle", 		 			  size: "#{mobile_icon_size}" }%>
		<% else %>
			<%= link_to '', page_url(Comic.first.number),
					class:  'livicon shadowed',        
					data:   { name: "angle-double-left",  size: "#{mobile_icon_size}", animate: "true", eventtype: 'click' },
					title:  "Go to first",
					method: 'get' %>
		<% end %>
			<%= link_to '', page_url(random),
					class:  'livicon shadowed',
		  		data:   { name: "shuffle", 					  size: "#{mobile_icon_size}", animate: "true", eventtype: 'click' },
				  title:  "Random comic",
				  method: 'get' %>
		<% if @comic == Comic.last %>
			<%= link_to '', page_url(random), 
					class:  'livicon hidden',
					data:   { name: "shuffle", 					  size: "#{mobile_icon_size}" } %>
		<% else %>
			<%= link_to '', page_url(Comic.last.number), 
					class:  'livicon shadowed',
					data:   { name: "angle-double-right", size: "#{mobile_icon_size}", animate: "true", eventtype: 'click' },
					title:  "Go to last",
					method: 'get' %>		
		<% end %>
	</div><!-- .middle-row -->
</div><!-- .portrait-comicnav -->


<!-- Mobile swipe navigation script                   -->
<!--**************************************************-->
<script>
	$("#swipey").on('swiperight', function() {
		if (<%= @comic.number %> != <%= Comic.first.number %>) {
			location.href = 'http://marchofthemeanies.com/'+ <%= @comic.number-1 %>;
		}
	});

	$("#swipey").on('swipeleft', function() {
		if (<%= @comic.number %> != <%= Comic.last.number %>) {
			location.href = 'http://marchofthemeanies.com/'+ <%= @comic.number+1 %>;
		}
	});
</script>





<!--*********************************************************************** -->
<!--1-5 COMIC NAVIGATION - MOBILE - LANDSCAPE ***************************** -->
<!--*********************************************************************** -->

<% landscape_icon_size = "92" %>

	<div class="landscape-left-side">
		<% if @comic == Comic.first %>
			<%= link_to '', page_url(random), 						
					class:  'livicon hidden', 
					data:   { name: "shuffle", 		        size: "#{landscape_icon_size}" } %>
			<%= link_to '', page_url(random), 						
					class:  'livicon hidden', 
					data:   { name: "shuffle", 		        size: "#{landscape_icon_size}" } %>

		<% else %>
			<%= link_to '', page_url(Comic.first.number),
					class:  'livicon shadowed',        
					data:   { name: "angle-double-left",  size: "#{landscape_icon_size}", animate: "true", eventtype: 'click' },
					title:  "Go to first",
					method: 'get' %>
					
			<%= link_to '', page_url(@previous_comic),
			 		class:  'livicon shadowed',        
					data:   { name: "angle-left",         size: "#{landscape_icon_size}", animate: "true", eventtype: 'click' },
					title:  "Previous comic",
					method: 'get' %>
		<% end %>

			<%= link_to '', page_url(random),
					class:  'livicon shadowed',
		  		data:   { name: "shuffle", 					  size: "50", animate: "true", eventtype: 'click' },
				  title:  "Random comic",
				  method: 'get' %>
	</div><!-- left-side -->

	<div class="landscape-right-side">
		<% if @comic == Comic.last %>
			<%= link_to '', page_url(random),
					class:  'livicon hidden',
			  	data:   { name: "shuffle", 		        size: "#{landscape_icon_size}" } %>

		<% else %>	
			<%= link_to '', page_url(Comic.last.number), 
					class:  'livicon shadowed',
					data:   { name: "angle-double-right", size: "#{landscape_icon_size}", animate: "true", eventtype: 'click' },
					title:  "Go to last",
					method: 'get' %>	
			<%= link_to '', page_url(@next_comic),
			 	  class:  'livicon shadowed',
			  	data:   { name: "angle-right",        size: "#{landscape_icon_size}", animate: "true", eventtype: 'click' },
		  		title:  "Next comic",
		  		method: 'get' %>
		<% end %>
	</div><!-- .right-side -->





<!--*********************************************************************** -->
<!--1-6 SOCIAL ICONS (Only visible on Mobile) ***************************** -->
<!--*********************************************************************** -->

<div class="social-icons-row">
		<%= link_to '',
			  "http://www.facebook.com/sharer.php?u=http://marchofthemeanies.com/#{@comic.number}&p[summary]=My new favorite web comic.",
				class: "icon-facebook-circled shadowed",
				target: "_blank",
				title: "Share this comic on Facebook" %>
		<%= link_to '',
			  "http://twitter.com/share?text=My%20new%20favorite%20web%20comic:&url=http://marchofthemeanies.com/#{@comic.number}" ,
				class: "icon-twitter-circled shadowed",
				target: "_blank",
				title: "Share this comic on Twitter" %>
		<%= link_to '',
			  "https://plus.google.com/share?url=http://marchofthemeanies.com/#{@comic.number}",
				class: "icon-gplus-circled shadowed",
				target: "_blank",
				title: "Share this comic on Google Plus" %>
		<%= link_to '',
				"mailto:email@echoecho.com?subject=My%20new%20favorite%20web%20comic.&body=Check it out!    http://marchofthemeanies.com/#{@comic.number}",
				class: "icon-mail shadowed",
				title: "Email this comic to a friend"
				 %>
 		<%= link_to '',
 				feed_path,
 				class: 'icon-rss shadowed',
 				title: "Subscribe!" %>
</div><!-- .social-icons-row -->