<% provide(:title, 'Comic Index') %>



<%= link_to raw('<div class="button add_comic">Add Comic</div>'), new_comic_path %>

<div id="comic-index">
  <table>
    <% @comics.each do |comic| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="col1">
           <%= comic.number %>
      </td>
      <td class="col2 title">
        <p><%= comic.title %><%= link_to  (image_tag comic.image_url(:thumb)), page_url(comic.number.to_s) %></p>
      </td>
      <td class="col3">
           <%= comic.created_at.strftime('%m/%d/%Y')   %>
      </td>
      <td class="col4">
           <%= link_to '', edit_comic_path(comic),   method: 'get', class: 'icon-pencil icon' %>
           <%= link_to '', comic, method: :delete, data: { confirm: 'Are you sure?'}, class: 'icon-cancel icon ' %>
      </td>
    </tr>
    <% end %>
  </table>
</div>



