<% provide(:title, 'Comic Index') %>

<!--*********************************************************************** -->
<!--* COMIC INDEX                                                         * -->
<!--*********************************************************************** -->

<%= link_to raw('<div class="button add_comic">Add Comic</div>'), new_comic_path %>

<div id="comic-index">
  <table>
    <% @comics.each do |comic| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="col1">
      	<%= comic.number %>
      </td>
      <td class="col2">
      	<%= comic.title %>
      </td>
      <td class="col3">
      	<%= comic.created_at.strftime('%m/%d/%Y')   %>
      </td>
      <td class="col4">
      	<%= link_to '', page_url(comic.number), class: 'livicon index-preview-icon', data: { name: "eye-open"} %>
      		<div class="index-preview"><%= image_tag comic.image_url(:thumb) %></div>
        <%= link_to '', edit_comic_path(comic),   method: 'get', class: 'livicon', data: { name: "edit"} %>
        <%= link_to '', comic, method: :delete, confirm: 'Are you sure?', class: 'livicon', data: { name: "remove", hovercolor: "#F26F17"} %>
      </td>
    </tr>
    <% end %>
  </table>
</div>



