<% provide(:title, @comic.title) %>

<p id="notice"><%= notice %></p>

<div class="title"><h2><%= @comic.title %></h2></div>
<div class="comic">
	<% if @comic.number == 1 %>
	<%= link_to image_tag(@comic.image_url), '#' %> 
	<% else %>
	<%= link_to image_tag(@comic.image_url), page_url(@comic.number-1) %> 
	<% end %>
</div>


<div class="comicnav">
	<ul>
		<% if @comic == Comic.first %>
			<li><%= link_to '', page_url(Comic.first.number),  method: 'get', class: 'icon-fast-backward icon hidden' %></li>
			<li><%= link_to '', page_url(@comic.number-1),     method: 'get', class: 'icon-left-dir icon hidden' %></li>
		<% else %>
			<li><%= link_to '', page_url(Comic.first.number),  method: 'get', class: 'icon-fast-backward icon' %></li>
			<li><%= link_to '', page_url(@comic.number-1),     method: 'get', class: 'icon-left-dir icon' %></li>
		<% end %>
			<li><%= link_to '', page_url(random), method: 'get', class: 'icon-shuffle icon' %></li>
		<% if @comic == Comic.last %>
			<li><%= link_to '', page_url(@comic.number+1), 	   method: 'get', class: 'icon-right-dir hidden icon' %></li>
			<li><%= link_to '', page_url(Comic.last.number),	 method: 'get', class: 'icon-fast-forward hidden icon' %></li>
		<% else %>
			<li><%= link_to '', page_url(@comic.number+1), 	   method: 'get', class: 'icon-right-dir icon' %></li>
			<li><%= link_to '', page_url(Comic.last.number),	 method: 'get', class: 'icon-fast-forward icon' %></li>
		<% end %>
			<li>
				<div class="social icon icon-share">
					<ul>
	          <a class="smedia icon icon-facebook-circled" 
	          	 target="_blank" 
	          	 href="http://www.facebook.com/sharer.php?u=http://marchofthemeanies.com/<%= @comic.number %>&p[summary]=My new favorite web comic." 
	          	 title="Share this webpage on Facebook" =>
	          </a>
	          <a class="smedia icon icon-twitter-circled" 
		           target="_blank" 
		           href="http://twitter.com/share?text=My%20new%20favorite%20web%20comic:&url=http://marchofthemeanies.com/<%= @comic.number %>" 
		           title="Share this webpage on Twitter">
	        	</a>
	          <a class="smedia icon icon-gplus-circled" 
	          	 target="_blank"
	             href="https://plus.google.com/share?url=http://marchofthemeanies.com/<%= @comic.number %>">
	          </a>
	          <a class="smedia icon icon-tumblr-circled"
	         		 target="_blank"  
	         		 href="http://www.tumblr.com/share?v=3&u=marchofthemeanies.com/<%= @comic.number %>&t=%20My%20new%20favorite%20web%20comic">
	          </a>
	          <a class="smedia icon icon-mail" 
	          	 href="mailto:email@echoecho.com?subject=My%20new%20favorite%20web%20comic.&body=Check it out!    http://marchofthemeanies.com/<%= @comic.number %>">
					  </a>
					</ul>
				</div>	
			</li>
	</ul>
</div>

