<% provide(:title, @comic.title) %>

<!--*********************************************************************** -->
<!--1-1 COMIC TITLE ******************************************************* -->
<!--*********************************************************************** -->

<h2 class="title"><%= @comic.title %></h2>




<!--*********************************************************************** -->
<!--1-2 THE COMIC ********************************************************* -->
<!--*********************************************************************** -->

<figure class="comic">
	<div id="swipey"></div>
	<% if @comic.number == 1 %>
	<%= link_to image_tag(@comic.image_url), '#' %> 
	<% else %>
	<%= link_to image_tag(@comic.image_url), page_url(@comic.number-1), title: @comic.title %> 
	<% end %>
</figure>





<!--*********************************************************************** -->
<!--1-3 COMIC NAVIGATION ************************************************** -->
<!--*********************************************************************** -->


<!-- Standard navigation menu (Not visible on mobile) -->
<!--**************************************************-->
<div class="comicnav">
	<ul class="nav-toprow"> 
		<% if @comic == Comic.first %>
			<li><%= link_to '', page_url(random), 						class: 'livicon hidden', data: {name: "shuffle"}, title: "Random comic",   method: 'get' %></li>
			<li><%= link_to '', page_url(random), 						class: 'livicon hidden', data: {name: "shuffle"}, title: "Random comic",   method: 'get' %></li>		<% else %>
			<li><%= link_to '', page_url(Comic.first.number), class: 'livicon', data: {name: "angle-double-left"}, title: "Go to first",    method: 'get' %></li>
			<li><%= link_to '', page_url(@comic.number-1), 		class: 'livicon', data: {name: "angle-left"}, title: "Previous comic", method: 'get' %></li>
		<% end %>
			<li><%= link_to '', page_url(random), 						class: 'livicon', data: {name: "shuffle"}, title: "Random comic",   method: 'get' %></li>
		<% if @comic == Comic.last %>
		<% else %>
			<li><%= link_to '', page_url(@comic.number+1), 	  class: 'livicon', data: {name: "angle-right"}, title: "Next comic",     method: 'get' %></li>
			<li><%= link_to '', page_url(Comic.last.number),  class: 'livicon', data: {name: "angle-double-right"}, title: "Go to last",  	 method: 'get' %></li>
		<% end %> 
	</ul>

</div>


<!-- Mobile navigation menu (Not visible on desktop)-->
<!--**************************************************-->
<div class="mobile-comicnav">
	<ul class="top-row">
		<% if @comic == Comic.first %>
<li><%= link_to '', page_url(random), 						class: 'livicon hidden', data: {name: "shuffle"}, title: "Random comic",   method: 'get' %></li>		<% else %>
			<li><%= link_to '', page_url(@comic.number-1), 		class: 'livicon', data: {name: "angle-left"}, title: "Previous comic", method: 'get' %></li>
		<% end %>
		<% if @comic == Comic.last %>
<li><%= link_to '', page_url(random), 						class: 'livicon hidden', data: {name: "shuffle"}, title: "Random comic",   method: 'get' %></li>		<% else %>	
			<li><%= link_to '', page_url(@comic.number+1), 	  class: 'livicon', data: {name: "angle-right"}, title: "Next comic",     method: 'get' %></li>
		<% end %>
	</ul>
	<ul class="bottom-row">
		<% if @comic == Comic.first %>
<li><%= link_to '', page_url(random), 						class: 'livicon hidden', data: {name: "shuffle"}, title: "Random comic",   method: 'get' %></li>		<% else %>
			<li><%= link_to '', page_url(Comic.first.number), class: 'livicon', data: {name: "angle-double-left"}, title: "Go to first",    method: 'get' %>
		<% end %>
			<li><%= link_to '', page_url(random), 						class: 'livicon', data: {name: "shuffle"}, title: "Random comic",   method: 'get' %></li>
		<% if @comic == Comic.last %>
			<li><%= link_to '', page_url(random), 						class: 'livicon hidden', data: {name: "shuffle"}, title: "Random comic",   method: 'get' %></li>
		<% else %>
		<li><%= link_to '', page_url(Comic.last.number),  class: 'livicon', data: {name: "angle-double-right"}, title: "Go to last",  	 method: 'get' %></li>		
		<% end %>
	</ul>
</div>


<!-- Mobile swipe navigation                          -->
<!--**************************************************-->


<script>
	$("#swipey").on('swiperight', function() {
		if (<%= @comic.number %> != <%= Comic.first.number %>) {
			location.href = 'http://marchofthemeanies.com/'+ <%= @comic.number-1 %>;
		}
	});

	$("#swipey").on('swipeleft', function() {
		if (<%= @comic.number %> != <%= Comic.last.number %>) {
			location.href = 'http://marchofthemeanies.com/'+ <%= @comic.number+1 %>;
		}
	});
</script>





<!--*********************************************************************** -->
<!--1-4 SOCIAL SLIDE ****************************************************** -->
<!--*********************************************************************** -->
<div class="social-slide-container">
	<div class="social-slide silver-box">
		<a href="#">...</a>
		<a href="#"></a>

		<a class="icon icon-facebook-circled hidden spacer1"></a>

		<a class="smedia icon icon-facebook-circled" 
	  	 target="_blank" 
	  	 href="http://www.facebook.com/sharer.php?u=http://marchofthemeanies.com/<%= @comic.number %>&p[summary]=My new favorite web comic." 
	  	 title="Share this comic on Facebook" =>
	  </a>
	  <a class="smedia icon icon-twitter-circled" 
	     target="_blank" 
	     href="http://twitter.com/share?text=My%20new%20favorite%20web%20comic:&url=http://marchofthemeanies.com/<%= @comic.number %>" 
	     title="Share this comic on Twitter">
		</a>
	  <a class="smedia icon icon-gplus-circled" 
	  	 target="_blank"
	     href="https://plus.google.com/share?url=http://marchofthemeanies.com/<%= @comic.number %>"
	     title="Share this comic on Google Plus">
	  </a>

			
		<a class="icon icon-facebook-circled hidden spacer2"></a>
		

	  <a class="smedia icon icon-tumblr-circled"
	 		 target="_blank"  
	 		 href="http://www.tumblr.com/share?v=3&u=marchofthemeanies.com/<%= @comic.number %>&t=%20My%20new%20favorite%20web%20comic"
	 		 title="Share this comic on Tumblr">
	  </a>
	  
		<a class="icon icon-facebook-circled hidden spacer3"></a>

	  <a class="smedia icon icon-mail" 
	  	 href="mailto:email@echoecho.com?subject=My%20new%20favorite%20web%20comic.&body=Check it out!    http://marchofthemeanies.com/<%= @comic.number %>"
	  	 title="Email this comic to a friend">
	  </a>
	  <%= link_to '', feed_path, class: 'icon-rss icon', title: "Subscribe!" %>
  </div><!-- .social-slide -->
</div><!-- .slide-container -->
