<p id="notice"><%= notice %></p>

<div class="comic">
	<%= image_tag @comic.image_url %>
</div>
</br>

<div class="comicnav">
	<ul>
		<% unless @comic == Comic.first %>
			<li><%= button_to 'First',    page_url(Comic.first.number),  method: 'get', class: 'button' %></li>
			<li><%= button_to 'Previous', page_url(@comic.number-1),     method: 'get', class: 'button' %></li>
		<% end %>
			<li><%= button_to 'Random',   page_url(Comic.last.number-1), method: 'get', class: 'button' %></li>
		<% unless @comic == Comic.last %>
			<li><%= button_to 'Next',     page_url(@comic.number+1), 	   method: 'get', class: 'button' %></li>
			<li><%= button_to 'Last',     page_url(Comic.last.number),	 method: 'get', class: 'button' %></li>
		<% end %>
	</ul>
</div>