<% provide(:title, @comic.title) %>

<!--*********************************************************************** -->
<!--1-1 COMIC TITLE ******************************************************* -->
<!--*********************************************************************** -->

<h2 class="title"><%= @comic.title %></h2>




<!--*********************************************************************** -->
<!--1-2 THE COMIC ********************************************************* -->
<!--*********************************************************************** -->

<figure class="comic">
	<div id="swipey"></div>
	<% if @comic.number == 1 %>
	<%= link_to image_tag(@comic.image_url), '#' %> 
	<% else %>
	<%= link_to image_tag(@comic.image_url), page_url(@comic.number-1), title: @comic.title %> 
	<% end %>
</figure>





<!--*********************************************************************** -->
<!--1-3 COMIC NAVIGATION ************************************************** -->
<!--*********************************************************************** -->


<!-- Standard navigation menu (Not visible on mobile) -->
<!--**************************************************-->
<div class="comicnav">
	<% if @comic == Comic.first %>
		<%= link_to '', page_url(random),
				class:  'livicon hidden',
				data:   { name: "shuffle"} %>
		<%= link_to '', page_url(random),
				class:  'livicon hidden',
				data:   { name: "shuffle"} %>
	<% else %>
		<%= link_to '', page_url(Comic.first.number),
				class:  'livicon',
				data:   { name: "angle-double-left"},
				title:  "Go to first",
				method: 'get' %>
		<%= link_to '', page_url(@comic.number-1),
		 		class:  'livicon',
		 		data:   { name: "angle-left"},
		 		title:  "Previous comic",
		 		method: 'get' %>
	<% end %>

		<%= link_to '', page_url(random),
				class:  'livicon',
				data:   { name: "shuffle"},
				title:  "Random comic",
				method: 'get' %>

	<% if @comic == Comic.last %>
		<%= link_to '', page_url(random),
				class:  'livicon hidden',
				data:   { name: "shuffle"} %>
		<%= link_to '', page_url(random),
				class:  'livicon hidden',
				data:   { name: "shuffle"} %>
	<% else %>
		<%= link_to '', page_url(@comic.number+1),
		 	  class:  'livicon',
		 	  data:   { name: "angle-right"},
		 	  title:  "Next comic",
		 	  method: 'get' %>
		<%= link_to '', page_url(Comic.last.number),
			  class:  'livicon',
			  data:   { name: "angle-double-right"},
			  title:  "Go to last",
			  method: 'get' %>
	<% end %> 
</div>


<!-- Mobile navigation menu (Not visible on desktop)-->
<!--**************************************************-->

<% icon_size = "52" %>

<div class="mobile-comicnav">
	<div class="top-row">
		<% if @comic == Comic.first %>
			<%= link_to '', page_url(random), 						
					class:  'livicon hidden', 
					data:   { name: "shuffle", 		 size: "#{icon_size}" } %>
		<% else %>
			<%= link_to '', page_url(@comic.number-1),
			 		class:  'livicon',        
					data:   { name: "angle-left",  size: "#{icon_size}" },
					title:  "Previous comic",
					method: 'get' %>
		<% end %>

		<% if @comic == Comic.last %>
			<%= link_to '', page_url(random),
					class:  'livicon hidden',
			  	data:   { name: "shuffle", 		 size: "#{icon_size}" } %>
		<% else %>	
			<%= link_to '', page_url(@comic.number+1),
			 	  class:  'livicon',
			  	data:   { name: "angle-right", size: "#{icon_size}" },
		  		title:  "Next comic",
		  		method: 'get' %>
		<% end %>
	</div>

	<div class="middle-row">
		<% if @comic == Comic.first %>
			<%= link_to '', page_url(random),
					class:  'livicon hidden',
				  data:   { name: "shuffle", 		 			  size: "#{icon_size}"}%>
		<% else %>
			<%= link_to '', page_url(Comic.first.number),
					class:  'livicon',        
					data:   { name: "angle-double-left",  size: "#{icon_size}" },
					title:  "Go to first",
					method: 'get' %>
		<% end %>
			<%= link_to '', page_url(random),
					class:  'livicon',
		  		data:   { name: "shuffle", 					  size: "#{icon_size}" },
				  title:  "Random comic",
				  method: 'get' %>
		<% if @comic == Comic.last %>
			<%= link_to '', page_url(random), 
					class:  'livicon hidden',
					data:   { name: "shuffle", 					  size: "#{icon_size}"} %>
		<% else %>
			<%= link_to '', page_url(Comic.last.number), 
					class:  'livicon',
					data:   { name: "angle-double-right", size: "#{icon_size}" },
					title:  "Go to last",
					method: 'get' %>		
		<% end %>
	</div>

	<div class="bottom-row">

    <a class="icon icon-facebook-circled" 
       target="_blank" 
       href="http://www.facebook.com/sharer.php?u=http://marchofthemeanies.com/<%= @comic.number %>&p[summary]=My new favorite web comic." 
       title="Share this comic on Facebook" =>
    </a>
    <a class="icon icon-twitter-circled" 
       target="_blank" 
       href="http://twitter.com/share?text=My%20new%20favorite%20web%20comic:&url=http://marchofthemeanies.com/<%= @comic.number %>" 
       title="Share this comic on Twitter">
    </a>
    <a class="icon icon-gplus-circled" 
       target="_blank"
       href="https://plus.google.com/share?url=http://marchofthemeanies.com/<%= @comic.number %>"
       title="Share this comic on Google Plus">
    </a>
    <a class="icon icon-mail" 
       href="mailto:email@echoecho.com?subject=My%20new%20favorite%20web%20comic.&body=Check it out!    http://marchofthemeanies.com/<%= @comic.number %>"
       title="Email this comic to a friend">
    </a>
    		<%= link_to '', feed_path,                   class: 'livicon', data: {name: "rss"},	title: "Subscribe!"     %>
	</div><!-- .bottom-row -->
</div><!-- .mobile-comicnav -->




<!-- Mobile swipe navigation                          -->
<!--**************************************************-->


<script>
	$("#swipey").on('swiperight', function() {
		if (<%= @comic.number %> != <%= Comic.first.number %>) {
			location.href = 'http://marchofthemeanies.com/'+ <%= @comic.number-1 %>;
		}
	});

	$("#swipey").on('swipeleft', function() {
		if (<%= @comic.number %> != <%= Comic.last.number %>) {
			location.href = 'http://marchofthemeanies.com/'+ <%= @comic.number+1 %>;
		}
	});
</script>






