<p id="notice"><%= notice %></p>

<div class="title"><h2><%= @comic.title %></h2></div>
<div class="comic">
	<%= link_to image_tag(@comic.image_url), page_url(@comic.number-1) %> <!-- unless comic.number is 1 -->
</div>


<div class="comicnav">
	<ul>
		<% if @comic == Comic.first %>
			<li><%= link_to '', page_url(Comic.first.number),  method: 'get', class: 'icon-fast-backward hidden' %></li>
			<li><%= link_to '', page_url(@comic.number-1),     method: 'get', class: 'icon-left-dir hidden' %></li>
		<% else %>
			<li><%= link_to '', page_url(Comic.first.number),  method: 'get', class: 'icon-fast-backward' %></li>
			<li><%= link_to '', page_url(@comic.number-1),     method: 'get', class: 'icon-left-dir' %></li>
		<% end %>
			<li><%= link_to '', page_url(random), method: 'get', class: 'icon-shuffle' %></li>
		<% if @comic == Comic.last %>
			<li><%= link_to '', page_url(@comic.number+1), 	   method: 'get', class: 'icon-right-dir hidden' %></li>
			<li><%= link_to '', page_url(Comic.last.number),	 method: 'get', class: 'icon-fast-forward hidden' %></li>
		<% else %>
			<li><%= link_to '', page_url(@comic.number+1), 	   method: 'get', class: 'icon-right-dir' %></li>
			<li><%= link_to '', page_url(Comic.last.number),	 method: 'get', class: 'icon-fast-forward' %></li>
		<% end %>
	</ul>
</div>

