<!--*************************************************************** -->
<!--0-4 MAIN NAVIGATION ******************************************* -->
<!--*************************************************************** -->

	<nav class="desktop-nav">
		<a href="<%= home_path %>"><h1>march of the meanies</h1></a>
		<%= link_to 'Home',        home_path,    id: "home-link"    %>
		<%= link_to 'Archive',     archive_path, id: "archive-link" %>
		<%= link_to 'About',       about_path,   id: "about-link"   %>
		<% if signed_in? %>
		<%= link_to "Comic Index", comics_path,  id: "index-link"   %>
		<%= link_to "Sign out",    signout_path, method: "delete"   %>
		<% end %>
	</nav>




	<nav class="nav-slide silver-box">
		<%= link_to 'Home',        home_path,    id: "home-link" %>
		<%= link_to 'Archive',     archive_path, id: "archive-link" %>
		<%= link_to 'About',       about_path,   id: "about-link" %>
		<a href="#"><h1>march of the meanies</h1></a>
		<a href="#">...</a>
	</nav>
