<!--*************************************************************** -->
<!--0-4 MAIN NAVIGATION ******************************************* -->
<!--*************************************************************** -->

<nav class="desktop-nav">
	<a href="<%= root_path %>"><h1>march of the meanies</h1></a>
	<%= link_to 'home',        root_path,    id: "home-link"    %>
	<%= link_to 'archive',     archive_path, id: "archive-link" %>
	<%= link_to 'about',       about_path,   id: "about-link"   %>

	<% if signed_in? %>
	<%= link_to "comic Index", comics_path,  id: "index-link"   %>
	<%= link_to "sign out",    signout_path, method: "delete"   %>
	<% end %>
</nav><!-- nav -->





<!--*************************************************************** -->
<!--0-2 MAIN NAVIGATION FOOTER - Only visible in Home view ******** -->
<!--*************************************************************** -->

<% if params[:action] == "home"%>
	<div class="nav-footer ">
    
    <div class="nav-spacer"></div>

    <%= link_to '',
       feed_path,
       class: 'livicon feed-icon',
       data: {name: "rss", animate: "true", eventtype: "hover", color: "original", size: "24" },
       title: "Subscribe!"     %>

    <div class="livicon share-icon" data-name="share" data-c="#71c442" data-s="24"></div>

    <div class="share-menu">
     <%= link_to '',
      "http://www.facebook.com/sharer.php?u=http://marchofthemeanies.com/#{@comic.number}&p[summary]=My new favorite web comic.",
      class:  "smedia livicon",
      data:   { name: "facebook", size: "24", color: "original" },
      target: "_blank",
      title: "Share this comic on Facebook"%>
    <%= link_to '',
      "http://twitter.com/share?text=March%20of%20the%20Meanies%20-%20#{@comic.title}%20%20%20%20%20%20%20%20%20%20%20&url=http://marchofthemeanies.com/#{@comic.number}",
      class:  "smedia livicon",
      data:   { name: "twitter", size: "24", color: "original"  },
      target: "_blank",
      title: "Share this comic on Twitter"%>
    <%= link_to '',
      "https://plus.google.com/share?url=http://marchofthemeanies.com/#{@comic.number}",
      class:  "smedia livicon",
      data:   { name: "google-plus", size: "24", color: "original"  },
      target: "_blank",
      title: "Share this comic on Google Plus"%>
    <%= link_to '',
      "mailto:email@echoecho.com?subject=March%20of%20the%20Meanies%20-%20'#{@comic.title}'&body=http://marchofthemeanies.com/#{@comic.number}",
      class:  "smedia livicon",
      data:   { name: "mail", size: "24", color: "original"  },
      target: "_blank",
      title:  "Email this comic to a friend"%>
    </div><!-- .share-menu -->
  </div><!-- .nav-footer -->
<% end %>





<!--*************************************************************** -->
<!--0-3 MAIN NAVIGATION SLIDER - Only visible on mobile *********** -->
<!--*************************************************************** -->

<nav class="mobile-nav silver-box">
	<%= link_to 'about',       about_path,   id: "about-link" %>
  <%= link_to 'archive',     archive_path, id: "archive-link" %>
  <%= link_to 'home',        root_path,    id: "home-link" %>
	<a href="#"><h1>march of the meanies</h1></a>
  <%= link_to '...', '#' %>
</nav>
