<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>

	 
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
 	 	<%= csrf_meta_tags %>	
		<%= auto_discovery_link_tag :atom, "/feed" %>
		<%= auto_discovery_link_tag :rss, "/feed.rss" %>


		  	<script type="text/javascript">
    	$(window).load(function(){
      	$('#gallery').tinyscrollbar();
    	});

		  function getFile(){
		  	document.getElementById("comic_image").click();
		  }
		</script>
		
	</head>

	<body class="<%= params[:action] %>_controller">
		<div class='container'>

			<h1><%= link_to 'march of the meanies', root_path %></h2>

			<div class="content">

				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "alert alert-#{key}") %>
				<% end %>

				<%= yield %>
			</div>

			<%= render 'layouts/navigation' %>
		</div>
		
			<%= render 'layouts/grid' %>

	</body>
</html>
