<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>

	 
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
 	 	<%= csrf_meta_tags %>	
		<%= auto_discovery_link_tag :atom, "/feed" %>
		<%= auto_discovery_link_tag :rss,  "/feed.rss" %>

	
		<!-- <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script> -->

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script type="text/javascript">
		  function getFile(){
		  	document.getElementById("comic_image").click();
		  }
		</script>
		
	</head>

	<body class="<%= params[:action] %>_controller">
			
			<div class='container'>

				<%= render 'layouts/navigation' %>

				<div class="content">
					<% flash.each do |key, value| %>
						<%= content_tag(:div, value, class: "alert alert-#{key}") %>
					<% end %>
					<%= yield %>
				</div>


			</div>


		<script type="text/javascript">
			$('.social-slide').on('click', function () {
			    $(this).toggleClass('show-social');
			});

			$('.nav-slide').on('click', function () {
			    $(this).toggleClass('show-nav');
			});

			$.mobile.ajaxEnabled=false;
			$.mobile.loadingMessage = false;
		</script>

				<%= render 'layouts/grid' %>

	</body>
</html>
