<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= stylesheet_link_tag    "custom", media: "all" %>
	  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Sacramento|Special+Elite', media: "all" %>
	  <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700|Radley|Carme|Tenor+Sans|Tinos:400,700|Playfair+Display:400,700,900|Cinzel:400,900,700' rel='stylesheet' type='text/css'>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>

	</head>

	<body>
		<div class='container2'>
			<h1>march of the meanies</h2>

			<div class="container1">
				<%= yield %>
			</div>
		</div>
		
			<nav>
				<ul>
						<li><%= link_to 'Home',    home_path %></li>
						<li><%= link_to 'Archive', archive_path %></li>
						<li><%= link_to 'About',   about_path %></li>
						<li><%= link_to 'Admin',   admin_path %></li>
					</ul>
			</nav>

	<!-- jQuery -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
			<!-- http://bohemianalps.com/tools/grid/ -->
		<%= stylesheet_link_tag    "hugrid", media: "all" %>
	  <%= javascript_include_tag "hugrid" %>
		<script type="text/javascript">
		    $(document).ready(function() {
		        pageUnits = 'px';
		        colUnits = 'px';
		        pagewidth = 940;
		        columns = 16;
		        columnwidth = 40;
		        gutterwidth = 20;
		        pagetopmargin = 24;
		        rowheight = 24;
		        gridonload = 'off';
		        makehugrid();
		        setgridonload();
		    });
		</script>
	</body>
</html>
