<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>

	 
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
 	 	<%= csrf_meta_tags %>	
		<%= auto_discovery_link_tag :atom, "/feed" %>
		<%= auto_discovery_link_tag :rss, "/feed.rss" %>
		
		<meta name="viewport" content="width=device-width, initial-scale=0.75">

		<script type="text/javascript">
		  function getFile(){
		  	document.getElementById("comic_image").click();
		  }
		</script>
		
	</head>

	<body class="<%= params[:action] %>_controller">
		<div class='container'>
			<h1><%= link_to 'march of the meanies', root_path %></h1>

			<div class="content">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "alert alert-#{key}") %>
				<% end %>
				<%= yield %>
			</div>
			<%= render 'layouts/navigation' %>
		</div>
		




			<%= render 'layouts/grid' %>
	</body>
</html>
